*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

height:100vh;

overflow:hidden;

background:
radial-gradient(circle,#806040,#21130a);

font-family:'Cormorant Garamond',serif;

}



.screen{

height:100vh;

width:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



.hidden{

display:none;

}





/* CATEGORY */


#categories h1{

font-size:48px;

color:#ffe6b0;

margin-bottom:50px;

}



.category-box{

display:flex;

gap:25px;

}



.category-box button{

width:130px;

height:130px;

border-radius:25px;

border:none;

cursor:pointer;


background:#f6dfaa;


font-size:40px;


box-shadow:
0 15px 35px #0008;


display:flex;

flex-direction:column;

align-items:center;

justify-content:center;


transition:.3s;

}


.category-box span{

font-size:22px;

margin-top:10px;

color:#573719;

}



.category-box button:hover{

transform:translateY(-8px);

}





/* READER */


.topbar{

position:absolute;

top:2px;


width:min(420px,90vw);


display:flex;

justify-content:space-between;

align-items:center;


color:#ffe6b0;

}



.topbar button{

border:none;

background:#f4dda8;

width:45px;

height:45px;

border-radius:50%;

font-size:25px;

}





.page-stack{

position:relative;

width:380px;

height:560px;

perspective:1000px;

}




.paper{

position:absolute;

inset:0;

border-radius:15px;


background:

linear-gradient(
135deg,
#fff4d2,
#e4c789
);


box-shadow:

0 30px 60px #0009;


}




.back-one{

transform:
rotate(-5deg)
translateY(15px);

}



.back-two{

transform:
rotate(5deg)
translateY(25px);

}





.main-page{

z-index:5;


touch-action:none;


overflow:hidden;


transition:.3s;

}



.texture{

position:absolute;

inset:0;


background-image:

radial-gradient(#80552d33 1px,transparent 1px);


background-size:18px 18px;

}



.content{


position:relative;

z-index:2;


height:100%;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


text-align:center;


padding:35px;

}



.content h1{

font-size:45px;

}



#shayari{

font-family:'Dancing Script';

font-size:24px;

line-height:1.8;

white-space:pre-line;

color:#321c0d;

}



#author{

margin-top:35px;

font-style:italic;

}



#favorite{

position:absolute;

bottom:35px;

right:35px;

background:none;

border:none;

font-size:35px;

color:#a33;

}



#counter{

position:absolute;

bottom:20px;

width:100%;

text-align:center;

}



.fly-left{

animation:left .35s forwards;

}


.fly-right{

animation:right .35s forwards;

}



@keyframes left{

to{

transform:translateX(-120vw) rotate(-15deg);

opacity:0;

}

}


@keyframes right{

to{

transform:translateX(120vw) rotate(15deg);

opacity:0;

}

}





@media(max-width:600px){


.page-stack{

width:85vw;

height:65vh;

}



#shayari{

font-size:26px;

}


.category-box{

gap:12px;

}



.category-box button{

width:100px;

height:100px;

}


}